* {
    border: 0;
    margin: 0;
    padding: 0;
}

/*Anchors*/
a {
    color: #777;
    text-decoration: none;
}

a:hover {
    color: #333;
    text-decoration: none;
}

/* General page styles */
body {
    background-color: #f0f8ff; /* Light blue background */
    font-family: Arial, sans-serif;
    color: #333;
}

/* Header styles */
h2 {
    padding: 20px;
    text-align: center;
    color: #453;
}

/* Image styles */
img {
    display: block;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

/* Main content styles */
main {
    padding: 20px;
}

/* Paragraph styles */
p {
    background-color: #f0e68c; /*Khaki*/
    padding: 10px;
    border-radius: 5px;
}
.centered-paragraph {
    text-align: center;
}